@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
}
/**footer**/
footer {
  background-color: white;
  color: black;
  padding-top: 15px;
  border-top: 1px solid black;
}
footer .footer-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
footer .footer-content {
  width: 50%;
}
footer .footer-content h3 {
  font-size: 20 px;
  margin-bottom: 5px;
  text-align: center;
}
footer .footer-content p {
  font-size: 15px;
  text-align: center;
  width: 100%;
  margin: auto;
}
footer .footer-content li {
  list-style-type: none;
  text-align: center;
}
footer .footer-content li a {
  color: black;
}
footer .footer-content li a :hover {
  color: grey;
}
footer .footer-content li i {
  color: black;
}
footer .footer-content li i :hover {
  color: grey;
}
footer .bottom-bar {
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px;
}

/**header**/
header {
  border-bottom: 1px solid black;
}

.bg-head {
  background-color: white;
  color: black;
  margin: 0;
}

li {
  color: antiquewhite;
}

/**index**/
.main {
  background-color: rgba(0, 0, 0, 0.226);
  background-image: url("../assets/images/3cervezas.png");
  background-size: cover;
}
.main-title {
  padding: 10px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.226);
}
.main-title h1 {
  font-size: 4rem;
  font-weight: bolder;
}

.main-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  background-color: rgba(0, 0, 0, 0.226);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: black;
}
.main-info-label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  animation: fadeIn 3s ease;
  background-color: whitesmoke;
  border-radius: 10px;
  text-align: justify;
}
.main-info-label .label-img {
  width: 100%;
  height: 400px;
}
.main-info-label img {
  flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-info-label h2,
.main-info-label p {
  margin: 5px;
}
.main-info-label:hover {
  box-shadow: 2px 2px 2px;
  transition: 0.7s;
  background-color: rgb(106, 106, 106);
  color: whitesmoke;
}
.main-info-label:hover h2 {
  background-color: rgb(106, 106, 106);
  transition: 0.7s;
}
.main-info-label:hover p {
  background-color: rgb(106, 106, 106);
  transition: 0.7s;
}

/*Productos*/
.main-productos {
  background-color: rgb(158, 158, 158);
}
.main-productos-title {
  padding: 10px;
  text-align: center;
  color: white;
}
.main-productos-title h1 {
  font-size: 4rem;
  font-weight: bold;
}
.main-productos .carousel {
  align-items: center;
  margin-left: 10%;
  width: 80%;
  padding: 15px;
}
.main-productos .carousel-item {
  width: 100%;
  height: 100%;
}
.main-productos .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**proceso**/
.main-process {
  background-image: url("../assets/images/homebeer.jpg");
  background-size: cover;
  height: 623px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.main-process .process-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.514);
}
.main-process .process-content h1 {
  color: whitesmoke;
  font-size: 4rem;
}
.main-process .process-content p {
  font-size: 30px;
  color: beige;
}
.main-process .process-content li {
  color: rgb(237, 237, 233);
  list-style: none;
  font-size: 20px;
}
.main-process .process-content h2 {
  font-size: 3rem;
  color: whitesmoke;
  padding: 10px;
}

/*Aboutus*/
.aboutus {
  background-color: rgb(158, 158, 158);
}
.aboutus-titulo {
  padding: 15px;
  text-align: center;
  color: white;
}
.aboutus-titulo h1 {
  font-weight: bold;
  font-size: 4rem;
}
.aboutus-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
}
.aboutus-container .aboutus-box {
  display: flex;
  gap: 10px;
  background-color: whitesmoke;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 2px;
  text-align: justify;
}
.aboutus-container .aboutus-box .box-img {
  padding: 10px;
  width: 100%;
  height: 600px;
}
.aboutus-container .aboutus-box .box-img img {
  height: 100%;
  object-fit: cover;
}
.aboutus-container .aboutus-box p {
  padding: 10px;
}

/**contacto**/
.form-container {
  background-image: url(../assets/images/tapbeerjpg.jpg);
  background-size: cover;
  padding: 30px;
  margin: 50px;
  border: 2px solid gray;
  border-radius: 3px;
  opacity: 0.9;
  height: 600px;
}
.form-container .btn-primary {
  background-color: white;
}
.form-container .mb-3 .form-label {
  color: whitesmoke;
}
.form-container .mb-3 .textarea {
  height: 200px;
}

/*Vista mobil*/
/**vista tablet**/
@media (max-width: 1024px) {
  /*index*/
  .main {
    background-image: none;
    background-color: rgb(158, 158, 158);
  }
  .main-title {
    background-color: rgb(158, 158, 158);
  }
  .main-info {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: none;
    background-color: rgb(158, 158, 158);
  }
  .main-info-label {
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
  }
  /*productos*/
  .main-productos-title h1 {
    font-size: 3rem;
  }
  /*about us*/
  .aboutus-box {
    flex-direction: column;
    color: black;
    align-items: center;
  }
  .aboutus-box box-img {
    padding: 10px;
    height: 300px;
    align-items: center;
  }
  .aboutus-box .box-img img {
    width: 100%;
    object-fit: cover;
  }
  /*proceso*/
  .main-process .process-content h1 {
    font-size: 2px;
  }
  .main-process .process-content h2 {
    font-size: 2rem;
  }
  .main-process .textarea {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .main h1 {
    font-size: 3rem;
  }
  .main .main-info {
    display: flex;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgb(158, 158, 158);
  }
  .main-productos-title h1 {
    font-size: 2rem;
  }
  .form-container,
  .form-control {
    text-align: center;
  }
  .textarea {
    height: 500px;
  }
  .aboutus-titulo h1 {
    font-size: 2.5rem;
  }
  .aboutus-box box-img {
    padding: 10px;
    height: 50%;
    align-items: center;
  }
  .aboutus-box .box-img img {
    width: 100%;
    object-fit: cover;
  }
  .process-content h1 {
    font-size: 20px;
  }
  .process-content p {
    font-size: 10px;
    color: beige;
  }
  .process-content h2 {
    font-size: 15px;
  }
  .process-content iframe {
    width: 60%;
  }
}

/*# sourceMappingURL=styles.css.map */
