@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(20px);
    }



}