/*Aboutus*/

.aboutus {
    background-color: $main-color;

    &-titulo {
        padding: 15px;
        text-align: center;
        color: $head-color;

        h1 {
            font-weight: bold;
            font-size: 4rem;
        }

    }

    &-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 40px;

        .aboutus-box {
            display: flex;
            gap: 10px;
            background-color: $label-color;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
            border: 1px solid black;
            border-radius: 2px;
            text-align: justify;

            .box-img {
                padding: 10px;
                width: 100%;
                height: 600px;
            }

            .box-img img {

                height: 100%;
                object-fit: cover;
            }

            p {
                padding: 10px;

            }



        }

    }



}