/*Vista mobil*/


/**vista tablet**/
@media (max-width:1024px) {

    /*index*/
    .main {
        background-image: none;
        background-color: $main-color;

        &-title {
            background-color: $main-color;
            ;
        }



        &-info {
            display: flex;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            background-image: none;
            background-color: $main-color;

            &-label {
                background-color: whitesmoke;
                color: black;
                border: 1px solid black;


            }
        }

    }

    /*productos*/
    .main-productos {
        &-title {
            h1 {
                font-size: 3rem;
            }
        }
    }

    /*about us*/
    .aboutus-box {

        flex-direction: column;
        color: black;
        align-items: center;

        box-img {
            padding: 10px;
            height: 300px;
            align-items: center;
        }

        .box-img img {
            width: 100%;
            object-fit: cover;
        }

    }

    /*proceso*/
    .main-process {

        .process-content {
            h1 {
                font-size: 2px;
            }

            h2 {
                font-size: 2rem;
            }
        }

        .textarea {
            height: 300px;
        }
    }



}

@media (max-width: 768px) {

    .main {
        h1 {
            font-size: 3rem;
        }

        .main-info {

            display: flex;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            background-color: $main-color;
        }
    }

    .main-productos {
        &-title {
            h1 {
                font-size: 2rem;
            }
        }
    }



    .form-container,
    .form-control {
        text-align: center;
    }

    .textarea {
        height: 500px;
    }


    .aboutus {
        &-titulo {
            h1 {
                font-size: 2.5rem;
            }
        }


        &-box {


            box-img {
                padding: 10px;
                height: 50%;
                align-items: center;
            }

            .box-img img {
                width: 100%;
                object-fit: cover;
            }





        }
    }

    .process-content {
        h1 {
            font-size: 20px;
        }

        p {
            font-size: 10px;
            color: beige;
        }

        h2 {
            font-size: 15px;
        }

        iframe {
            width: 60%;
        }
    }


}